:root {
    --main-color: #03A9F5;
    --secondary-color: #EA1E63;
    --grey-color: #D2D2D2;
    --light-color: #FFF;
    --dark-color: #111;
}
html {
    scroll-behavior: smooth;
}
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.hero {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
}
    .hero > .container {
        display: inline-block;
        text-align: center;
        width: 800px;
        margin: 200px calc(( 100% - 800px ) / 2);
        position: relative;
        }
        .hero > .container > h1 {
            font-size: 80px;
            margin: 60px 0 30px;
        }
        .hero > .container > p {
            color: var(--grey-color);
        }
        .hero > .container > .clock {
            display: inline-block;
            width: 100%;
            margin: 100px 0;
            color: var(--light-color);
        }
            .clock > .col {
                display: inline-block;
                width: 25%;
                float: left;
            }
                .clock > .col > .value {
                    font-size: 80px;
                }
                .clock > .col > .title {
                    font-size: 18px;
                }
        .hero > .container > form {
            display: inline-block;
            width: 100%;
        }
            .hero > .container > form > input {
                outline: none;
                border: none;
                border-bottom: 1px solid var(--grey-color);
                background: transparent;
                width: 100%;
                font-size: 20px;
                line-height: 40px;
                color: var(--light-color);
            }
                .hero > .container > form > .first-input::placeholder {
                    color: var(--light-color);
                }
            .hero > .container > form > .btn {
                display: inline-block;
                background: var(--secondary-color);
                color: white;
                padding: 20px 40px;
                margin-top: 60px;
                border-radius: 3px;
            }
            .hero > .container > form > .btn:hover {
                cursor: pointer;
                border-radius: 20px;
                transition: 2s;
                box-shadow: 10px 10px 60px var(--secondary-color);
            }
        .hero > .container > .mouse-block {
            display: inline-block;
            position: relative;
            margin-top: 50px;
            
        }
            .hero > .container > .mouse-block > .mouse {
                display: inline-block;
                width: 50px;
                height: 80px;
                border: 4px solid var(--light-color);
                border-radius: 60px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
                .mouse-block > .mouse::before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 15px;
                    background: var(--light-color);
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 50%;
                    opacity: 1;
                    animation: mouse 2s infinite;
                }
                @keyframes mouse {
                    from {
                        opacity: 1;
                        top: 15px;
                    }
                    to {
                        opacity: 0;
                        top: 50px;
                    }
                }
.content {
    display: inline-block;
    width: 100%;
}
    .content > .container {
        display: inline-block;
        width: 1200px;
        margin: 60px calc( (100% - 1200px) / 2 );
    }
        .content > .container > .left {
            display: inline-block;
            width: 50%;
            float: left;
        }
            .left > h2 {
                font-size: 40px;
            }
            .left > p {
                margin: 30px 0;
            }
            .left > p > a {
                color: var(--secondary-color);
            }
                .container > .left > .progress-bar {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 20px;
                }
                    .left > .progress-bar > .texts {
                        display: inline-block;
                        width: 100%;
                        margin-bottom: 10px;
                        font-size: 18px;
                        line-height: 20px;
                        color: var(--dark-color);
                    }
                        .progress-bar > .texts > .title {
                            display: inline-block;
                            float: left;
                        }
                        .progress-bar > .texts > .value {
                            display: inline-block;
                            float: right;
                        }
                    .progress-bar > .bar {
                        display: inline-block;
                        width: 100%;
                        height: 4px;
                        background-color: var(--grey-color);
                    }
                        .progress-bar > .bar > .bar-value {
                            display: inline-block;
                            height: 100%;
                            width: 90%;
                        } 
                            .progress-bar > .bar > .bar-value > .loading {
                                display: inline-block;
                                background-color: var(--main-color);
                                height: 100%;
                                width: 100%;
                                animation: fill 3s;
                            }
                            @keyframes fill {
                                0% {
                                    width: 0%;
                                }
                                100% {
                                    width: 100%;
                                }
                            }
        .content > .container > .right {
            display: inline-block;
            width: 40%;
            float: left;
            margin-left: 10%;
        }
            .right > h2 {
                font-size: 40px;
            }
            .right > p {
                margin: 30px 0;
            }
            .right > p > a {
                color: var(--secondary-color);
            }
            .right > form {
                
                width: 100%;
            }
                .right > form > input {
                    display: inline-block;
                    outline: none; 
                    border: none;
                    border-bottom: 1px solid var(--grey-color);
                    width: 237px;
                    font-size: 15px;
                    line-height: 40px;
                }
                .right > form > textarea {
                    margin-top: 50px;
                    display: inline-block;
                    font-size: 15px;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid var(--grey-color);
                    resize: vertical;
                    min-height: 80px;
                    max-height: 200px;
                    max-width: 478px;
                    width: 100%;
                }
                .right > form > .btn {
                    display: inline-block;
                    background: var(--secondary-color);
                    color: white;
                    padding: 20px 40px;
                    margin-top: 60px;
                    float: right;
                    border-radius: 3px;
                }
                .right > form > .btn:hover {
                    cursor: pointer;
                    border-radius: 20px;
                    transition: 2s;
                    box-shadow: 10px 10px 60px var(--secondary-color);
                }
footer {
    background: var(--main-color);
    width: 100%;
    display: inline-block;
    color: var(--light-color);
    text-align: center;
}
    footer > .container {
        display: inline-block;
        width: 800px;
        margin: 0px calc(( 100% - 800px ) / 2);
        position: relative;
    }
            .container > .social-icons {
                display: inline-block;
                width: 100%;
                padding: 20px 0;
                border-bottom: 1px solid #fff;
            }
                footer > .container > .social-icons > a {
                    display: inline-block;
                    margin: 10px 20px;
                    color: var(--light-color);
                    text-decoration: none;
                    font-size: 30px;
                }
        footer > .container > .logo2 {
            display: inline-block;
            width: 100%;
            margin: 50px 0;
        }
            footer > .container > .logo2 > img {
                height: 50px;
            }   
        .container > .first-footer-paragraph {
            display: inline-block;
            width: 100%;
            color: var(--light-color);
        }  
        footer > .container > .first-footer-paragraph > .section {
            display: inline-block;
        
            width: 32%;
        }
        footer > .container > .first-footer-paragraph > .span {
            display: inline-block;
            
        }
            .container > .first-footer-paragraph > .section > p {
                color: var(--light-color);
            }
                .container > .first-footer-paragraph > .section > p > a {
                    color: var(--light-color);
                }
        footer > .container > p {
            color: var(--light-color);
            padding: 10px 0;
            line-height: 24px;
            padding-bottom: 60px;
        }
            footer > .container > p > a {
                color: var(--light-color);
            }
            footer > .container > .fa-angle-up {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                line-height: 59px;
                font-size: 60px;
                background: var(--secondary-color);
                color: var(--light-color);
                text-decoration: none;
                position: absolute;
                top: -42px;
                right: -217px;
            } 
            footer > .container > .fa-angle-up:hover {
                transition: 2s;
                box-shadow: 10px 10px 60px var(--secondary-color);   
            }
@media ( max-width: 1400px ) {
    .content > .container {
        width: 100%;
        margin: 0;
        padding: 40px;
    }
    .content > .container > .left {
        width: 100%;
        margin-bottom: 80px;
    }
    .content > .container > .right {
        width: 100%;
        margin-left: 0;
    }
    footer > .container {
        width: 100%;
        margin: 0;
    }
        footer .fa-angle-up {
            display: none;
        }
        footer > .container {
            padding: 0 40px;
        }
        .container > .right > form > input {
            width: 100%;
        } 
} 
@media ( max-width: 900px ) {
    .hero > .container {
        width: 100%;
        margin: 40px 0;
        padding: 0 40px;
    }
    .clock > .col {
        width: 50%;
    }
}
